---
import BaseLayout from '../layouts/BaseLayout.astro';
import FeaturedContentCard from '../components/FeaturedContentCard.astro';
import { getEntry } from 'astro:content';
import navigation from '../navigation/guideNavigation';
const paymentFlowsGuide = await getEntry('guides', 'payment-flows');
const farmlandsPortal = await getEntry('guides', 'farmlands-portal');
const farmlandsPosIntegrationGuide = await getEntry('guides', 'farmlands-pos-integration');

const description = 'Learn to connect with Centrapay experiences.';
const img = '/homepage-preview.png';
---

<BaseLayout description={description} img={img} navigation={navigation}>
  <div class="mx-auto my-8 w-full max-w-5xl px-4 sm:px-8">
    <div class="mb-16 flex flex-col space-y-6">
      <h1 class="type-display mb-4">
        <b>Centrapay Docs</b>
      </h1>
      <p class="text-content-secondary">
        Welcome to Centrapay! We enable you to transact fiat currency,
        digital assets and vouchers via your point of sale,
        payment terminal, shopping cart or unattended device. We
        accomplish this via our APIs which allow merchants, customers,
        terminals, and smart wallets to interact with each other.
      </p>
      <p class="text-content-tertiary">
        For more help getting setup, contact us via email at
        <a class="text-interactive-primary underline hover:text-interactive-secondary-hover" href="mailto:integrations@centrapay.com">
          integrations@centrapay.com.
        </a>
      </p>
    </div>
    <div>
      <h2 class="type-headline-2">Featured Docs</h2>
    </div>
    <div class="mt-8 grid gap-4 md:grid-cols-2 lg:gap-6">
      <FeaturedContentCard
        title={paymentFlowsGuide.data.title}
        description={paymentFlowsGuide.data.description}
        img={paymentFlowsGuide.data.img}
        id={paymentFlowsGuide.id}
        type="guide"
      />
      <FeaturedContentCard
        title={farmlandsPortal.data.title}
        description={farmlandsPortal.data.description}
        img={farmlandsPortal.data.img}
        id={farmlandsPortal.id}
        type="guide"
      />
      <FeaturedContentCard
        title={farmlandsPosIntegrationGuide.data.title}
        description={farmlandsPosIntegrationGuide.data.description}
        img={farmlandsPosIntegrationGuide.data.img}
        id={farmlandsPosIntegrationGuide.id}
        type="guide"
      />
      <FeaturedContentCard
        title="API Reference"
        description="Powerful, Easy-to-use payment APIs"
        img="/api-reference-cover.jpg"
        href="https://docs.centrapay.com/api"
        type="api"
      />
    </div>
  </div>
</BaseLayout>
