---
const { image, caption, imageWidth } = Astro.props;
const divClass = `flex flex-col gap-2 ${imageWidth ? `max-w${imageWidth}` : ''} text-wrap`;
const imageClass = `block ${imageWidth ? `w-${imageWidth}` : '' }`
---

<div class={divClass}>
  <img class={imageClass} src={image} />
  <p class="font-normal text-xs text-center">
    {caption}
  </p>
</div>


